body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:lightgrey;
}

a {
  color: #00B7FF;
}

h1 {
  color: black;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 25px;
  font-size: 75px;
  text-decoration: underline;
}

input{
  padding-bottom: 50px;
}

input[type="radio"]{
  padding-left: 50px;
}
